@value sudolOrange, sudolWhite, sudolBlue, borderGrey from '../../common/colors.css';

.projects {
  background-color: sudolBlue;
  padding-bottom: 1rem;
  overflow-x: hidden;
}

.title .sub {
  margin: 0;
  font-size: 1.5rem;
}

.cont {
  padding: 1rem 0;
}

.move_btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 3;
}

.move_btn:first-child {
  position: fixed;
  top: 40%;
  left: 0;
}
.move_btn:last-child {
  position: fixed;
  top: 40%;
  right: 0;
}

.arrow {
  color: sudolWhite;
  font-size: 5rem;
}
.arrow:hover {
  color: borderGrey;
}

.arrow_disabled {
  color: borderGrey;
  cursor: default;
}

.projectList {
  display: flex;
  transition: transform 0.5s;
}

.project {
  width: 100vw;
  padding: 1rem 6rem;
}

.dotCont {
  margin: 1rem auto 0;
}

.dot_btn {
  margin: 0 2px;
  padding: 0 2px;
  background: none;
  border: none;
  cursor: pointer;
  color: sudolWhite;
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  .project {
    padding: 1rem 4rem;
  }

  .move_btn:first-child {
    position: fixed;
    top: 40%;
    left: -7px;
  }
  .move_btn:last-child {
    position: fixed;
    top: 40%;
    right: -7px;
  }
}

@media (max-width: 768px) {
  .project {
    padding: 2rem !important;
  }

  .arrow {
    color: sudolOrange;
  }

  .arrow_disabled {
    color: borderGrey;
  }
}
