@value sudolWhite, sudolGreen, sudolOrange, sudolYellow, sudolDarkGrey, borderGrey from '../../common/colors.css';

.welcome {
  color: sudolDarkGrey;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(
      115deg,
      rgba(38, 38, 38, 0.6),
      rgba(29, 29, 29, 0.5)
    ),
    url(../../images/clover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_border {
  display: inline-block;
  margin: 1rem 2rem;
  border: 1px solid borderGrey;
  border-radius: 25px;
  box-shadow: 5px 5px 7px 2px borderGrey;
  background-color: sudolWhite;
}

.card_border:hover {
  background-color: sudolDarkGrey;
  transition: background-color 1s;
}
.card_border:hover .funny {
  color: sudolGreen;
  transition: color 1s;
}
.card_border:hover .myName {
  color: sudolYellow;
  transition: color 1s;
}
.card_border:hover .gitLink {
  color: sudolWhite;
  border-bottom: 1px solid sudolWhite;
  transition: color 1s, border-bottom 1s;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: left;
}

.explain {
  padding-left: 2rem;
  border-left: 1px solid borderGrey;
}

.selfie {
  display: inline-block;
  margin-right: 2rem;
  width: 40vh;
}

.intro {
  border-bottom: 1px solid borderGrey;
}

.intro_title {
  font-size: 2rem;
  font-weight: 800;
}

.intro_sect {
  font-size: 1.5rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.info_list {
  display: flex;
  flex-wrap: wrap;
}

.info_icon {
  font-size: 1.2rem;
}

.info_text {
  margin-left: 5px;
}

.info_item {
  flex: 1 1 40%;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.gitLink {
  color: sudolDarkGrey;
}
.gitLink:hover {
  opacity: 0.6;
}

@media (min-width: 1200px) {
  .intro_title {
    font-size: 2.5rem;
  }
  .intro_sect {
    font-size: 1.8rem;
  }
  .info {
    font-size: 1.5rem;
  }
  .info_item {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .cont {
    flex-direction: column;
  }

  .explain {
    border-left: none;
  }

  .selfie {
    margin: 0 auto;
    width: 30vh;
  }
}
