@value titleGrey, borderGrey, sudolGreen, sudolWhite from '../../common/colors.css';

.title {
  display: inline-block;
  margin: 1rem;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  color: titleGrey;
  text-transform: uppercase;
  border-bottom: 1px solid borderGrey;
}

.sub {
  margin: 0;
  color: sudolWhite;
  font-size: 1.5rem;
}

.greenTitle {
  color: sudolGreen;
  border-bottom: 1px solid sudolWhite;
}

.grey {
  color: titleGrey;
}

.whiteTitle {
  color: sudolWhite;
  border-bottom: 1px solid sudolWhite;
}

.whiteSub {
  color: sudolWhite;
}
