@value sudolWhite, sudolOrange, sudolDarkGrey, borderGrey from '../../../common/colors.css';

@keyframes move_arrow {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

.project p {
  font-size: 1.3rem;
  text-align: left;
}

.project a {
  color: sudolDarkGrey;
}
.project a:hover {
  color: sudolOrange;
}

.project {
  display: grid;
  grid-template-areas:
    "title title"
    "img  info";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 3rem 3rem;
  min-width: calc(100vw - 12rem);
  border-radius: 10px;
  background-color: sudolWhite;
  box-shadow: 2px 3px 4px 2px rgba(38, 38, 38, 0.3);
}

.titleCont {
  grid-area: title;
}

.title {
  margin: 1rem 0 2rem;
  font-size: 2.5rem !important;
  font-weight: 600;
  text-align: center !important;
}

.fileLink {
  padding-bottom: 10px;
  border-bottom: 1px solid borderGrey;
}

.imgCont {
  height: 80vh;
}

.infoCont {
  min-height: 80vh;
}

.imgCont {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: hidden;
}
.imgCont::-webkit-scrollbar {
  display: none;
}
.imgItem {
  scroll-snap-align: start;
}

.explain {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: sudolWhite;
  background: sudolDarkGrey;
  opacity: 0.5;
  z-index: 3;
}

.explain p {
  font-size: 2rem !important;
  text-align: center;
}

.explain_icon {
  font-size: 5rem;
  animation: move_arrow infinite 1.5s;
}

.infoCont {
  padding-left: 1rem;
  border: 1px solid borderGrey;
}

@media (max-width: 1024px) {
  .project {
    padding: 1rem;
    min-width: calc(100vw - 8rem);
  }

  .title {
    font-size: 2rem !important;
  }
}

@media (max-width: 768px) {
  .project {
    grid-template-areas:
      "title"
      "img"
      "info";
    grid-template-columns: 1fr;
    min-width: calc(100vw - 4rem);
  }

  .title {
    font-size: 1.8rem !important;
  }

  .imgCont {
    height: 50vh;
  }
}
