@value sudolDarkGrey, sudolWhite from '../../common/colors.css';

.footer {
  width: 100%;
  min-width: 360px;
  height: 7.5rem;
  color: sudolWhite;
  background-color: sudolDarkGrey;
}

.icon_wrap {
  padding-top: 10px;
}

.icon {
  margin: 0 5px;
  width: 45px;
  height: 45px;
  border: none;
  background: none;
  text-indent: -9999px;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.7;
}

.text {
  padding: 5px 0;
}
