@value sudolDarkOrange, headerGrey_fixed from '../../../common/colors.css';

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 1.5em;
}

.nav_list {
  padding: 0px 10px;
}

.nowPage {
  color: sudolDarkOrange;
}

.otherPage:hover {
  color: sudolDarkOrange;
}

@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    margin: 0;
    border-radius: 0 0 0 10px;
    background-color: headerGrey_fixed;
  }
  .nav_list {
    padding: 5px 10px;
  }
}
